html
    head
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Fantastic Game
        link(href="./resource/css", rel="stylesheet", type="text/css")
        link(href="./resource/bootstrap.min.css", rel="stylesheet", type="text/css")
        link(href="./resource/main.css", rel="stylesheet", type="text/css")
        link(href="./resource/components.css", rel="stylesheet", type="text/css")
        link(href="./resource/home.css", rel="stylesheet", type="text/css")

        script(src='./libs/jquery-2.0.2.min.js')

body.main
    .content
        #gameArea
            // This is where the templates defined below will be used
        #main-screen-template.hidden
            p#p_online_users.p_title Online users
                each other in onlineList
                    if (other.username != user.username)
                        div(id ='#{other._id}', class = 'div_user_online', data-game-id='#{other.gameId}', data-status='#{other.status}')
                            img.user_online_img(src="#{other.avatarLink}")
                            .profile_right
                                p.user_name #{other.displayName}
                                p.status #{other.caption}
                            if (other.status == 'available')
                                img.img_status(src="resource/available_sign.png")
                            else
                                img.img_status(src="resource/playing_sign.png")

            p.p_title(style="margin-top:40px") Your profile
            .div_user_online
                img.user_online_img(src="#{user.avatarLink}")
                .profile_right
                    p.user_name #{user.displayName}
                    p.status #{user.caption}
            p.p_title(style="margin-top:40px; margin-bottom:0px") Application
            #btn_logout.sub_list
                img(src="resource/quit.png", style="float:left;width:20px;height:20px")
                p(style="float:left;padding-left: 10px;") Log out and quit game

            script.
                $("#btn_logout").click(function() {
                window.location.href="logout"
                });


        // This is the 'Host' screen. It displays the word for each player to match
        #host-game-template.hidden
            #div_users_info
                #user_info1.user_info
                    img(src="http://s18.postimg.org/u7gq1zss9/avatar_default.jpg")
                    p.playerName Phuong Dong
                    p
                        | Score:&#160;
                        span.score 0
                p.p_vs vs
                #user_info2.user_info(style="float:right")
                    img(src="http://s18.postimg.org/u7gq1zss9/avatar_default.jpg")
                    p.playerName Phuong Dong
                    p
                        | Score:&#160;
                        span.score 0
            div(style="clear:both")
            #wordArea
                #hostWord ales
            #overArea
                p#p_winner You are winner :)
                a#btnPlayerRestart.btn Restart game
                a#btnHome.btn Return home


script.
    var userData = {
        userName: '#{user.username}',
        userId: '#{user._id}',
        avatarLink: '#{user.avatarLink}',
        caption: '#{user.caption}',
        status: '#{user.status}'
    }


script(src='../libs/fastclick.js')
//
   If Socket.IO is used with Express, then the /socket.io/ path will
          serve the proper Socket.IO javascript files used by the browser
script(src='socket.io/socket.io.js')
// app.js is where all the client-side Anagrammatix game logic
script(src='../app.js')